* {
    --x1: 0.04;
    --x2: calc(var(--x1) * 2);
    --x3: calc(var(--x1) * 3);
    --timing: calc(var(--x1) * 210s);
    --shdark: rgba(0, 0, 0, var(--x2));
    --shlite: rgba(255, 255, 255, var(--x2));
}

@keyframes colorful {
    0%   { color: lightcoral;    }
    7%   { color: lightsalmon;   }
    22%  { color: palegoldenrod; }
    36%  { color: palegreen;     }
    50%  { color: paleturquoise; }
    64%  { color: plum;          }
    78%  { color: palevioletred; }
    93%  { color: lightcoral;    }
}

.chroma {
    animation: colorful infinite var(--timing) linear;
    box-shadow: 3px 3pt 1pc 1pc var(--base-color);
    padding: 0 4pt;
    background: linear-gradient(var(--shdark), var(--shlite));
}