* {
    --x1: 0.04;
    --x2: calc(var(--x1) * 2);
    --x3: calc(var(--x1) * 3);
    --timing: calc(var(--x1) * 210s);
    --shdark: rgba(0, 0, 0, var(--x2));
    --shlite: rgba(255, 255, 255, var(--x2));
    --fancy: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

@keyframes colorful {
    0%   { color: lightcoral;    }
    7%   { color: lightsalmon;   }
    22%  { color: palegoldenrod; }
    36%  { color: palegreen;     }
    50%  { color: paleturquoise; }
    64%  { color: plum;          }
    78%  { color: palevioletred; }
    93%  { color: lightcoral;    }
}

.chroma {
    animation: colorful infinite var(--timing) linear;
    box-shadow: 3px 3pt 1pc 1pc var(--base-color);
    padding: 0 4pt;
    background: linear-gradient(var(--shdark), var(--shlite));
}

.one,
.one * {
    --background: #111;
    --background-mute: #333;
    --color: #eee;
    --color-mute: #ccc;
    --color-bright: #fff;
}

.dos,
.dos * {
    --background: #eee;
    --background-mute: #ddd;
    --color: #111;
    --color-mute: #333;
    --color-bright: #000;
}

body {
    width: 100vw!important;
    height: 100vh!important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--background);
    background: var(--fancy);
    overflow: hidden;
}

.wm {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    user-select: none;
    transition: all 66.67ms ease-in;
}

.wm .shadow {
    filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.3));
}

.wm.button, .wm.menubar {
    outline: none;
    border: 3px outset var(--background-mute);
    background: var(--background-mute);
    color: var(--color-mute);
    padding: 0 2px;
    margin: 0;
    font-size: 0.8rem;
}

.wm.button:hover, .wm.menubar:hover {
    color: var(--color-bright);
}

.wm.button:active, .wm.menubar:active {
    filter: none;
    border: 3px inset var(--background-mute);
}

.wm.simple {
    color: var(--color-mute);
    background: var(--background--mute);
}

.wm.window {
    font-size: 16px;
    border: 3px outset var(--background-mute);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    background: var(--background);
    filter: grayscale(0.15);
    opacity: 0.85;
    transition: all 21ms linear;
    color: var(--color);
}

.bound {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.bound * {
    scrollbar-width: none!important;
}

.grow {
    flex-grow: 1;
}

.wm .clear {
    background: none!important;
}

.wm.toolbar {
    display: flex;
    flex-direction: row;
    background: var(--color);
    font-size: 12px;
    user-select: none;
    padding: 3px 6px;
}

.old .wm.toolbar {
    padding: 0;
    padding-left: 4px;
    font-weight: bold;
    background: var(--fancy);
    border-bottom: 3px outset var(--background-mute);
}

.wm.focus > .toolbar {
    background: var(--fancy);
}

.wm.toolbar .title {
    color: var(--background);
    flex-grow: 100;
}

.old .wm.toolbar .title,
.wm.window.focus > .toolbar .title {
    color: #eee;
}

.wm.focus > .toolbar .title::after {
    content: "💯";
    display: contents;
    margin-left: 2px;
}

.wm.toolbar .button {
    border: none;
    background: none;
    transition: all 66.67ms ease-in;
    opacity: 1;
    color: var(--background-mute);
}

.old .wm.toolbar .button {
    border-left: 3px outset var(--background-mute);
    color: #fff;
    background: #f11;
    padding: 0 8px;
}

.wm.toolbar .button:hover {
    opacity: 0.9;
    color: var(--background);
}

.wm.toolbar .button:active {
    opacity: 0.95;
}

.old .wm.toolbar .button:active {
    color: #f11;
    border-left: none;
    outline: 3px inset var(--background-mute);
}

.wm.menubar {
    flex-direction: row;
}

.wm.menubar .button {
    flex-grow: 100;
    border: none;
}

.wm.desktop {
    padding: 4px;
    border: 3px inset var(--background-mute);
    border-top: none;
    flex-grow: 100;
}

.wm.desktop-icon {
    width: fit-content;
    border: none;
}

.wm.desktop-icon img {
    width: 64px;
}

.wm.desktop-icon:hover img {
    filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.4));
}

.wm.desktop-icon:active img {
    filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5));
}

.wm.desktop-icon a {
    width: 100%;
    text-align: center;
}

.wm.window.focus {
    opacity: 0.95;
    filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.4));
}