* {
    box-sizing: border-box;
    user-select: none;
    scrollbar-width: none;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 0;
}

#main {
    padding: 1em;
    flex-grow: 100;
}

strong {
    color: lightcoral;
}

.corn {
    color: cornflowerblue;
}

#selector a {
    margin-right: 0.5em;
    font-size: 1.333em;
    color: var(--color-mute);
}

#selector a:hover {
    color: lightcoral !important;
}

#selector a:active {
    color: coral !important;
}

table {
    display: table!important;
}

table tr {
    cursor: pointer;
}

table tr:hover {
    color: cornflowerblue;
}

table tr:active {
    color: lightblue;
}

thead td {
    font-weight: bold;
}

#editor {
    width: 420px;
    margin: 4px 0;
    position: absolute;
    z-index: 1;
    top: 86px;
    left:20px;
}

#editor input {
    background: var(--background-mute);
    color: var(--color-bright);
}

#editor input:disabled {
    background: var(--background);
    color: var(--color-mute);
}

.pad {
    padding: 4px;
}

#main {
    height: 100%;
}

#frame {
    overflow-y: scroll;
}

.fancy {
    border: 3px inset #ccc;
}

td {
    border-top: 1px solid #ccc;
}